.container {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 20px;
}

h3,
h6 {
  text-align: center;
}

h6 {
  margin: 0 15px;
  border-bottom: 1px solid #bcbcbc;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.active {
  background-color: red;
}

.btn {
  border-radius: 5px;
  background-color: rgb(154 205 50 / 30%);
  padding: 5px 10px;
  border: none;
  margin-right: 10px;
}

.active {
  background-color: yellowgreen;
}

.mission-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.mission-id {
  margin-bottom: 1rem;
}

.mission {
  float: left;
  min-height: 450px;
  list-style-type: none;
  background-color: #fff;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.mission-img {
  background-color: #f7f7f7;
  margin-bottom: 10px;
  padding: 20px;
}

.mission-img img {
  width: 100%;
}

.content {
  width: 100%;
  float: left;
}

.content h3 {
  color: navy;
}

.sideMenu {
  background-color: #fff;
  width: 100%;
  /* float: left; */
  padding: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 100%;
}

.sideMenu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.yearBtn {
  /* margin: 0 18%; */
  padding: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.developedBy {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ccc;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@media only screen and (min-width: 701px) {
  .mission {
    width: 45%;
    padding: 10px;
    margin-right: 10px;
  }
  .sideMenu {
    width: 200px;
    /* float: left; */
  }
  .content {
    width: 70%;
    float: left;
  }
  .yearBtn {
    padding: 5px 0;
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .mission {
    width: 22%;
    padding: 10px;
  }
  .yearBtn {
    padding: 15px 0px;
  }
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
